body{
    height: 100%;
    margin: 50px;
    background-image: url("galery/background_20.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Dongle', sans-serif;
}

p {
    font-size: 25px;
    margin-left: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

#grid {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px;
    grid-template-rows: 50px 150px 150px 150px;
    gap: 20px;
    text-align: center;
    font-size: 25px;
    margin-right: 50px;
}

#grid .grid-item{
    background-color: rgb(255, 185, 192);
    display: flex;
    justify-items: center;
    align-items: center;
}

#grid span {
    display: flex;
    justify-content: center;
    align-items: center;
}

#improve {
    margin: auto;
    height: 200px;
    width: 80%;
    font-size: 15px;
    padding: 20px;
    line-height: 25px;
}

.contact {
    display: flex;
}

.contact input {
    width: 50px;
}

input[type=submit] {
    width: 20%;
    margin: auto;
}