body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255)
}

/* MENU REGION */
header {
    background-color: rgb(241, 119, 149);
    height: 120px;
    width: 100%;
}

#menu_bar {
    z-index: 1;
    left: 0;
    right: 0;
    position: fixed;
    width: 80%;
    display: flex;
    padding: 20px;
    padding-top: 0px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#menu_bar .img_menu{
    background-color: white;
    padding: 10px;
    border-right:4px solid black;
    border-bottom:4px solid black;
    border-left:4px solid black;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    margin-right: 3px;
}

#menu_bar .img_menu:hover{
    background-color: rgb(230, 86, 122);
}

#menu_bar .navagation_bar{
    background-color: black;
    flex-grow: 1;
    align-self: flex-end;
    border-radius: 18px;
}

#menu_bar ul {
    display: flex;
}

#menu_bar li {
    text-align: center;
    flex-grow: 1;
    display: flex;
    border-radius: 18px;
}

#menu_bar li a {
    font-size: 25px;
    padding: 14px;
    align-self: center;
    flex-grow: 1;
}

#menu_bar li :hover{
    background-color: rgb(230, 86, 122);
    border-radius: 16px;
}

#menu_bar .check_out a {
    padding: 0px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}

#menu_bar .check_out a img {
    margin-right: 5px;
    padding: 6px;
    border-radius: 50px;
}

#menu_bar .check_out a:hover{
    background-color: rgba(0, 0, 0, 0);
}

#menu_bar .check_out a img:hover {
    background-color: rgb(230, 86, 122);
}

article {
    background-color: rgb(230, 86, 122, 0.7);
    width: 80%;
    margin: auto;
    padding: 5%;
    border-radius: 50px;
    box-shadow: 0px 0px 20px 10px rgb(0, 0, 0);
}

article h1 {
    display: flex;
    justify-content: center;
    height: 60%;
}

.about_us{
    display: flex;
    height: 80vh;
    align-items: center;
}
