body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255)
}

/* MENU REGION */
header {
    background-color: rgb(241, 119, 149);
    height: 120px;
    width: 100%;
}

#menu_bar {
    z-index: 1;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    width: 80%;
    display: flex;
    padding: 20px;
    padding-top: 0px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#menu_bar .img_menu{
    background-color: white;
    padding: 10px;
    border-right:4px solid black;
    border-bottom:4px solid black;
    border-left:4px solid black;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    margin-right: 3px;
}

#menu_bar .img_menu:hover{
    background-color: rgb(230, 86, 122);
}

#menu_bar .navagation_bar{
    background-color: black;
    flex-grow: 1;
    align-self: flex-end;
    border-radius: 18px;
}

#menu_bar ul {
    display: flex;
}

#menu_bar li {
    text-align: center;
    flex-grow: 1;
    display: flex;
    border-radius: 18px;
}

#menu_bar li a {
    padding: 10px;
    flex-grow: 1;
}

#menu_bar li :hover{
    background-color: rgb(230, 86, 122);
    border-radius: 16px;
}

#menu_bar .check_out {
    background-color: black;
    border: 3px solid white;
    padding: 6px;
    border-radius: 50px;
    align-self: end;
    position: relative;
}

#menu_bar .check_out:hover {
    background-color: rgb(230, 86, 122);
}

/* SLIDESHOW REGION */
#slideshow{
    width: 80%;
    height:1000px;
}
