article {
    background-color: rgb(230, 86, 122, 0.7);
    width: 80%;
    margin: auto;
    padding: 5%;
    border-radius: 50px;
    box-shadow: 0px 0px 20px 10px rgb(0, 0, 0);
}

article h1 {
    display: flex;
    justify-content: center;
}

.about_us{
    display: flex;
    height: 80vh;
    align-items: center;
}
