body {
    background-color: rgb(0, 0, 0, 0.1);
    background-image: url("galery/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Dongle', sans-serif;
}

article {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-bottom: 50px;
}

.image img{
    position: relative;
    border-radius: 80%;
    margin-top: 30px;
    box-shadow: 0px 0px 30px 20px white;
    z-index: 1;
}

.container {
    background-color: rgb(255, 139, 151);
    margin-top: -250px;
    padding-top: 280px;
    border-radius: 50px;
    box-shadow: 0px 0px 30px 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    text-decoration: noe;
    line-height: 20px;
}

.board {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}

input[type=email], input[type=text] {
    width: 400px;
}

.board .first_name input[type=text] {
    width: 180px;
    margin-right: 20px;
}

.board .second_name input[type=text] {
    width: 180px;
}

.board .second_name {
    margin-left: 20px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
}

input:focus {
    border: 3px solid rgb(230,86,122);
}

.board4 {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-bottom: 100px;
    column-gap: 20px;
}