@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
}

body {
    background-color: rgb(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Dongle', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255)
}

/* MENU REGION */
header {
    background-color: rgb(255, 158, 168);
    height: 120px;
    width: 100%;
}

#menu_bar {
    z-index: 1;
    left: 0;
    right: 0;
    position: fixed;
    width: 75%;
    display: flex;
    padding: 20px;
    padding-top: 0px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#menu_bar .img_menu{
    background-color: white;
    padding: 10px;
    border-right:4px solid black;
    border-bottom:4px solid black;
    border-left:4px solid black;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    margin-right: 3px;
}

#menu_bar .img_menu:hover{
    background-color: rgb(230, 86, 122);
}

#menu_bar .navagation_bar{
    background-color: black;
    flex-grow: 1;
    align-self: flex-end;
    border-radius: 18px;
}

#menu_bar ul {
    display: flex;
}

#menu_bar li {
    text-align: center;
    flex-grow: 1;
    display: flex;
    border-radius: 18px;
}

#menu_bar li a {
    font-size: 25px;
    padding: 14px;
    align-self: center;
    flex-grow: 1;
}

#menu_bar li :hover{
    background-color: rgb(230, 86, 122);
    border-radius: 16px;
}

#menu_bar .check_out a {
    padding: 0px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}

#menu_bar .check_out a img {
    margin-right: 5px;
    padding: 6px;
    border-radius: 50px;
}

#menu_bar .check_out a:hover{
    background-color: rgba(0, 0, 0, 0);
}

#menu_bar .check_out a img:hover {
    background-color: rgb(230, 86, 122);
}

/* HIGHLIGHT REGION */
.region {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 60px;
    margin: 5px;
}

#highlight{
    margin: auto;
    padding-bottom: 30px;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    row-gap: 30px;
}

#highlight .highlight_product {
    background-color: rgb(214, 107, 134);
    border-radius: 5px;
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#highlight .img_product {
    margin-top: 5px;
    margin-bottom: 5px;
}

#highlight .img_product img {
    height: 150px;
    width: 150px;
    border: 5px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#highlight .title_product {
    background-color: rgba(0, 0, 0, 0.85);
    width: 160px;
    border-radius: 12px;
    padding-top: 3.5px;
    font-size: 25px;
    color: white;
}

#highlight .description_product {
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 160px;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    margin-bottom: 5px;
}

#highlight .description_product p {
    line-height: 18px;
    padding: 5px;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* CATALOG SALES REGION*/
#catalog_sales {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#catalog_sales .category {
    position: relative;
    flex: 0 1 400px;
    margin: 20px;
}

#catalog_sales img{
    max-width: 100%;
    display: block;
    border-radius: 8px;
}

#catalog_sales a {
    border-radius: 5px;
    position: absolute;
    background-color: black;
    border: 5px solid white;
    padding: 20px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#catalog_sales a:hover {
    background-color: rgb(230, 86, 122);
}

#catalog_sales img{
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s;
}

#catalog_sales img {
    display: block;
    width: 100%;
    border-radius: 5px;
}

#catalog_sales img:hover {
    transform:scale(1.15);
    z-index: -1;
}

footer {
    width: 100%;
    height: 18vh;
    background-color: rgb(255, 158, 168);
    font-family: Arial, Helvetica, sans-serif;
}

.social_media img{
    background-color: rgb(230, 86, 122);
    margin: 5px;
    border-radius: 80%;
}

.copy_txt {
    display: flex;
    flex-direction: row;
    width: 20.5%;
    height: 15%;
    justify-content: space-evenly;
}

.copyright {
    display: flex;
    width: 25%;
    height: auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.copyright a{
    color: black;
}

.copyright a:hover {
    color: white;
    text-decoration: underline;
}

.social_media {
    width: 99%;
    height: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.payment {
    display: flex;
    width: 97%;
    justify-content: flex-end;
    align-items: flex-start;
}

.payment img {
    background-color: white;
    border: 5px solid white;
    border-radius: 15px;
}

.social_media img:hover {
    box-shadow: 0 0 10px 2px white;
}