body {
    flex-direction: column;
}

article {
    background-color: rgb(230, 86, 122, 0.7);
    width: 80%;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 1px rgb(0, 0, 0);
    background: rgb(255, 158, 168) url("galery/coffee.webp") no-repeat 95% 85%;
    margin: 50px;
}

article div{
    padding: 50px;
}

article p {
    font-size: 40px;
}

h1 {
    margin: 0px;
    margin-top: 20px;
    font-size: 120px;
}

span {
    font-size: 80px;
}
